#delete_1{
    background-color: rgb(255, 0, 0);
    border: none;
    color: black;
}
#trangchu{
    margin-left: 1500px;
    background-color: rgb(10, 10, 10);
    color: white;
    border: none;
}
#thanhtoan{
    background-color: rgb(10, 10, 10);
    color: white;
    border: none;
}